.wrapper {
    max-width: 700px;
    margin: 0 auto;
}

#edit-post {
    position: absolute;
    right: 50px;
    top: 0;
}

#tabs ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
} #tabs ul li {
      margin-left: 0;
      margin-bottom: 0;
      padding: 2px 15px 5px;
      border: 1px solid #000;
      list-style: none;
      display: inline;
  }


#tabs ul li.here {
    border-bottom: 1px solid #ffc;
    list-style: none;
    display: inline;
}
#post-table{
    max-height: 500px;
}
